@inherits LayoutComponentBase

@* Shared/MainLayout.razor *@
@using StockTradePro.BlazorUI.Components.Shared

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <NotificationComponent />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>